*.rbc
*.o
*.obj
*.so
*.bundle
*.bak
mkmf.log
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
XTAGS
ext/seven_zip_ruby/Makefile
ext/seven_zip_ruby/*.def
ext/seven_zip_ruby/*.pdb
ext/p7zip/makefile.machine
.vscode
