name: Rspec

on:
  push:
    branches: [ master, reconstruct_ci ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]
        ruby: [2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, head]
    runs-on: ${{ matrix.os }}-latest
    continue-on-error: ${{ endsWith(matrix.ruby, 'head') || matrix.os == 'macos' || matrix.ruby == 'debug' }}
    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - run: apt install p7zip-full
      if: ${{ matrix.os == 'ubuntu' }}
    - run: brew update && brew tap wk8/p7zip9.20 && brew install p7zip920
      if: ${{ matrix.os == 'macos' }}
    - run: gem update bundler
    - run: bundle install
    - run: bundle exec rake build_local
    - run: bundle exec rspec spec/seven_zip_ruby_spec.rb
