name: test-and-release

on:
  push:
    branches: [ master ]
    tags: [ 'v*' ]
  pull_request:
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}-${{ github.job }}-${{ github.head_ref || github.ref_name }}'
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu, macos, windows]
        # It seems that Ruby 2.4 or this gem has a bug related to this gem.
        ruby: ['2.5', '2.6', '2.7', '3.0', '3.1', '3.2', head]
    runs-on: ${{ matrix.os }}-latest
    continue-on-error: ${{ endsWith(matrix.ruby, 'head') || matrix.ruby == 'debug' }}
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - run: gem update bundler
    - run: bundle install
    - run: bundle exec rake build_local
    - run: bundle exec rake spec


  test-container:
    name: Ruby with ${{ matrix.env.CC }} compiler on ${{ matrix.os }}
    container:
      image: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ 'alpine:3.18', 'alpine:3.16' ]
        env:
          - {CC: gcc, CXX: g++}
          - {CC: clang, CXX: clang++}
    runs-on: ubuntu-latest
    env: ${{ matrix.env }}

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install Ruby
      run: |
        apk --no-cache --upgrade add build-base cmake git bash   \
        autoconf make binutils-dev pkgconfig tar ruby-dev clang

    - run: gem install bundler
    - run: bundle install
    - run: bundle exec rake build_local
    - run: bundle exec rake spec

  release:
    name: Release gem
    needs: [test, test-container]
    runs-on: ubuntu-latest
    if: contains(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@v3

      - uses: cadwallion/publish-rubygems-action@master
        env:
          RUBYGEMS_API_KEY: ${{secrets.FONTIST_CI_RUBYGEMS_API_KEY}}
